/*
li a {
    color: green;
} */
/*
body{
    height: 100%; width: 100;

    background: white url("images/back.jpg") no-repeat left top;
}*/

p {
    border-style: solid;
    border-left: thick double 15px;
}

.navbar-default .navbar-fnt{
    color: white;
}

.navbar-default {
    color: white;
    background-color:deepskyblue;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 200px;
    height: 150px;
    padding-top: 0;
}

a {
    font-size: 16pt;
    text-align: center;
}