<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} OTC {% endblock %} </title>
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'symptoms/style.css' %}" />
<!---
<link href='https://fonts.googleapis.com/css?family=Satisy' rel="stylesheet" type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
-->
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#"><img src="C:\Users\NHP\Desktop\theRealOTC\symptoms\static\symptoms\images\back.jpg
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <a class="navbar-brand"> OTC </a>
            <li><a href="/symptoms/">Symptoms</a></li>
            <li><a href="/causes/">Causes</a></li>
            <li><a href="/meds/">Medications</a></li>
        </ul>

        <u1 class="nav navbar-nav navbar-right">
            <li class="">
                <a href="/contact/">Contact Us</a></li>
            </li>
        </u1>
    </div>
</nav>

{% block body %}
{% endblock %}

    <!---
<style
#sidebarLeft{
    float:left;
    width: 160px;
    margin-left: 10px;
    padding-top: 1em;
}></style>
-->
</body>
</html>